// Import page-specific CSS files here.
@import "home";

.card a {
  text-decoration: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.card {
  width: auto;
}
