// Import page-specific CSS files here.
@import "home";

@import "show";

.card a {
  text-decoration: none;
}


.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;

}
.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.card {
  width: 355px;
  border-radius: 2%;
}

.card-img-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-title {
  font-weight: bold;
  font-size: large;
  color: black;
}

.boton {
  margin-bottom: 30px;
}

.card-text {
  color: black;
}

.confirmed {
  color: green;
}

.declined {
  color: red;
}

.pending {
  color: grey;
}
