// .abs-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
// }

.super-big-location-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

map {
  background-color: grey;
}

.card{
  width: 800px;
}
