<h1>GarageBNB</h1>
<p>Do you wanna park your car? You're in the right platform!</p>
<p><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary' %><%= link_to "Watch some garages", garages_path, :class => "btn btn-primary" %></p>
